/project/unity-survival/Assembly-CSharp.csproj
/project/unity-survival/Piggy.sln
/project/unity-survival/Piggy.userprefs
/project/unity-survival/PiggyZombieShootingGame.sln
/project/unity-survival/.vscode
/project/unity-survival/Library
/project/unity-survival/Assets/*.meta
/project/unity-survival/Temp
